[Desktop Entry]
Name=STOP ALL TOYS
Exec=pkill xeyes; pkill oneko; pkill xcalc; pkill xclock; pkill xload
Icon=/home/sinx/Desktop/RetroToyBox/skull-icon.svg
Type=Application
