[Desktop Entry]
Name=3D File System (Jurassic Park Style)
Exec=/home/sinx/Desktop/RetroToyBox/TDFSB.sh
Icon=/home/sinx/Desktop/RetroToyBox/cube-icon.svg
Type=Application
Terminal=true
Comment=The legendary 3D file system navigator. I know this!
