[Desktop Entry]
Name=Unix Workstation (CDE/Motif)
Exec=/home/sinx/Desktop/RetroToyBox/UnixWorkstation.sh
Icon=/home/sinx/Desktop/RetroToyBox/hacker-icon.svg
Type=Application
Comment=The actual 1995 Motif Window Manager and Console
